@charset "utf-8";

/* reset
------------------------------------- */
*,
*:before,
*:after{
    margin: 0; 
    padding: 0; 
    list-style: none; 
    text-decoration: none; 
    box-sizing: border-box;
}

/* base
------------------------------------- */
html{
    height: 100%;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body{
    font-size: 1.4rem;
    line-height: 1.7;
    padding-top: 80px;
}
a{color: inherit;}
button{cursor: pointer;}


/* common
------------------------------------- */
.l-contents{
    width: 100%;
}
.l-contents__inner {
    width: 1020px;
    margin: 0 auto;
    padding: 50px 0;
}
.c-heading2{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

/* header
------------------------------------- */
.l-header{
    background: #21ace0;
    padding: 0;
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 80px;
}
.l-header__area{
    padding:0 100px;
    display: flex;
    justify-content: space-between;
}
.l-header__logobox{
    font-size: 2rem;
    color: WHITE;
}
.l-header__logobox span{
    color: yellow;
    font-weight: bold;
}
.l-header__logobox img{
    height: 90px;
    padding: 10px 0 25px;
    vertical-align: middle;
}
.l-header__registerbox{
    font-size: 2rem;
    color: #fff;
    margin:25px 0;
}
.l-header__registerbox ul{
    display: flex;
}
.l-header__registerbox li:nth-child(2){
    margin-left: 30px;
}


/* KV
------------------------------------- */
.top-kv{
    background: linear-gradient(90deg, rgba(2,0,36,.5) 0%, rgba(9,9,121,.5) 100%, rgba(0,212,255,.5) 100%) fixed, url(img/background1.jpg) center;
    background-blend-mode:multiply;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-weight:bold;
}
.top-kv__h1{
    font-size: 6rem;
    margin-bottom: 60px;
}

.top-kv__ul{
    font-size: 3rem;
    margin-bottom: .5em;
}

.top-kv__btn-box{
    margin: 60px auto;
    width: 450px;
}
.top-kv__registerbox{
    display: flex;
    justify-content: space-between;
}

.top-kv__buttonarea{
    width: 170px;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 0;
}
.top-kv__register{
    background: rgba(29,227,224,.5); 
    border: rgba(29,227,224,.3) 3px solid;
}
.top-kv__login{
    background: rgba(177,183,83,.5); 
    border: rgba(177,183,83,.3) 3px solid;
}
.top-kv__register:hover{
    background: rgb(29,227,224);
}
.top-kv__login:hover{
    background: rgb(177,183,83);
}


/* curriculum
------------------------------------- */
.top-curriculum_imgbox{
    display: flex;
}
.top-curriculum_imgbox li{
    margin-left: 60px;
}
.top-curriculum_imgbox li:first-child{
    margin-left: 0;
}
.top-curriculum_imgbox figure{
    margin-bottom: 30px;
}
.top-curriculum a img{
    transition: transform 0.6s;
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-color: #ebf4f6;
}
.top-curriculum a:hover img{
    opacity: 0.8;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    transition: transform 0.6s;
    transform: translateY(-10px);
    z-index: 999;
}
.top-curriculum p{
    text-align: center;
    font-size: 2.5rem;
}


/* contact
------------------------------------- */
.top-contact{
    background: #ebf4f6;
}
.top-contact__entryarea{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.top-contact__textboxarea{
    padding: 10px 0 0 80px;
}
.top-contact__textboxarea input{
    width: 380px;
    margin-bottom: 15px;
    padding: 10px;
}
.top-contact__textboxarea input:last-child{
    margin-bottom: 0;
}
.top-contact__textareaarea{
    padding: 10px;
    margin-right: 80px;
}

.top-contact__textareaarea textarea{
    width: 380px;
    padding: 10px;
    height: 98px;
}
.top-contact__buttonarea{
    margin: 0 auto;
    text-align: center;
}
.top-contact__buttonarea button{
    color: #fff;
    border-radius: 10px;
    border:none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    background: rgba(49,146,184,1);
}
.top-contact__buttonarea button:hover{
    background: rgba(49,146,184,.5);
}


/* footer
------------------------------------- */
.l-footer{
    background: #243f51;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}
.l-footer__logo{
    font-size: 1.2rem;
    color: WHITE;
}
.l-footer__logo img{
    height: 80px;
    padding: 20px 0;
    vertical-align: middle;
}
.l-footer__logo span{
    color: yellow;
    font-weight: bold;
}

.l-footer__copyright{
    font-size: 1.6rem;
    color: #fff;
    margin: 25px 0;
}


/* 小型PC */
@media screen and (max-width: 1280px){

}

  /* タブレット */
@media screen and (max-width: 960px){
    html{
        width: 100%;
    }
    body{
        width: 100%;
        min-width: 0;
        font-size: 1.4rem;
        line-height: 1.7;
    }
    .l-contents {
    width: 100%;
    }
    .l-contents__inner {
    width: 100%;
    }

/* header
------------------------------------- */
.l-header__area{
    padding: 0 5%;
}
.l-header__logobox{
    font-size: 1.5rem;
}

/* KV
------------------------------------- */
.top-kv__h1{
    font-size: 5rem;
    padding: 0 5%;
}
.top-kv__ul{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.top-kv__registerbox a{
    width: 90%;
}
.top-kv__btn-box{
    width: 100%;
}
.top-kv__registerbox{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.top-kv__buttonarea{
    width: 100%;
    margin-bottom: 10px;
}

/* curriculum
------------------------------------- */
.top-curriculum_imgbox{
    width: 81vw;
    margin: 0 auto;
}
.top-curriculum_imgbox li{
    margin-left: 3vw;
}
.top-curriculum_imgbox li:first-child{
    margin-left: 0;
}
.top-curriculum_imgbox figure{
    margin-bottom: 15px;
}
.top-curriculum a img{
    width: 25vw;
    height: 25vw;
}

/* contact
------------------------------------- */
.top-contact form{
    width: 80vw;
    margin: 0 auto;
}
.top-contact__entryarea{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.top-contact__textboxarea{
    padding: 0;
    width: 100%;
}
.top-contact__textareaarea{
    margin: 20px 0 0;
}
.top-contact__textboxarea input{
    padding: 4%;
    width: 100%;
}
.top-contact__textareaarea{
    width: 100%;
    margin: 20px 0 0;
    padding: 0;
}
.top-contact__textareaarea textarea{
    padding: 4%;
    width: 100%;
    height: auto;
}
.top-contact__buttonarea button{
    width: 80vw;
    padding: 1em 0;
    font-size: 2.5rem;
}


/* footer
------------------------------------- */
.l-footer{
    padding: 0 5%;
}
.l-footer__logo{
    font-size: 1.6rem;
}
.l-footer__copyright{
    font-size: 1.2rem;
}

}

  /* スマートフォン */
@media screen and (max-width: 480px){
    html{
        width: 100%;
    }
    body{
        width: 100%;
        min-width: 0;
        font-size: 1.4rem;
        line-height: 1.7;
        padding-top: 60px;
    }
    .l-contents {
    width: 100%;
    }
    .l-contents__inner {
    width: 100%;
    }
    .c-heading2{
    font-size: 2.4rem;
    }

/* header
------------------------------------- */
.l-header{
    height: 60px;
}
.l-header__area{
    padding: 0 5%;
}

.l-header__logobox img{
    height: 70px;
    padding: 10px 0 25px;
    vertical-align: middle;
}
.l-header__registerbox{
    display: none;
}

/* KV
------------------------------------- */
.top-kv__h1{
    font-size: 5rem;
    padding: 0 5%;
}
.top-kv__ul{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.top-kv__registerbox a{
    width: 90%;
}
.top-kv__btn-box{
    width: 100%;
}
.top-kv__registerbox{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.top-kv__buttonarea{
    width: 100%;
    margin-bottom: 10px;
}

/* curriculum
------------------------------------- */
.top-curriculum_imgbox{
    flex-flow: column nowrap;
}
.top-curriculum_imgbox li{
    display: flex;
    margin: 0 0 30px 0;
    align-items: center;
    flex-flow: column nowrap;
}
.top-curriculum_imgbox figure{
    margin-bottom: 0;
}
.top-curriculum a img{
    width: 80vw;
    height: 80vw;
}

/* contact
------------------------------------- */
.top-contact form{
    width: 90vw;
    margin: 0 auto;
}
.top-contact__entryarea{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.top-contact__textboxarea{
    padding: 0 0 0 0;
    width: 100%;
}
.top-contact__textareaarea{
    margin: 20px 0 0;
}
.top-contact__textboxarea input{
    padding: 4%;
    width: 100%;
}
.top-contact__textareaarea{
    width: 100%;
    margin: 20px 0 0;
    padding: 0;
}
.top-contact__textareaarea textarea{
    padding: 4%;
    width: 100%;
    height: 20vh;
}
.top-contact__buttonarea button{
    width: 90vw;
    padding: .5em 0;
}

/* footer
------------------------------------- */

.l-footer{
    padding: 0 5%;
    display: flex;
    justify-content: center;
}
.l-footer__logo{
    display: none;
}
}